.input {
    background: #FFF;
    height: 57px !important;
    color: rgba(110, 120, 138, 0.60);
    border-radius: 4px;
    outline: none;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 18px !important;
}

.jobtxt{
    color: blue;
    font-size: 40px;
    font-weight: bold;
}

.maintxt{
    font-size: 40px;
    font-weight: bold;
}